FEISHU_APP_ID=
FEISHU_APP_SECRET=
FEISHU_VERIFICATION_TOKEN=
FEISHU_ENCRYPT_KEY=

COZE_API_URL=
COZE_BEARER_TOKEN=
COZE_PROJECT_ID=

DOUB_KEY=
DOUB_API_URL=
DOUB_MODEL=

OPENCLAW_API_URL=
OPENCLAW_TOKEN=
OPENCLAW_SESSION_KEY=

COZE_CG_BEARER_TOKEN=
COZE_SESSION_ID=
SERVERCHAN_SCKEY=

HYPERLIQUID_API_KEY=
HYPERLIQUID_SECRET=
